<h1>New blog entry</h1>

<% form_for([:admin, @blog_entry]) do |f| %>
  <%= render :partial => f,
             :locals  => { :button_name => "Create" } %>
<% end %>

<%= link_to t('back'), admin_blog_entries_path %>
