<style type="text/css">
/* want to move this out sometime */
.blog_header {
  border-bottom:1px dashed;
  color:#98C560;
  font-weight:bold;
  padding:0 0 3px;
}
</style>
<div class="blog_header">
  <%= b.created_at.strftime("%A, %d %B %Y") %>, posted by <%= b.author %> 
</div>
<h2>
  <%= link_to "<strong>#{b.title}</strong>", (blog_entry_path b) %>
</h2>

<div style="background-color: #ffffff; margin: 10px; padding: 3px;">
  <%= expand_sku(b) %>
</div>
<br/>
